<!DOCTYPE html>
<html>
  <head>
    <title>SpotifyProfileExplorer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1>Spotify Profile Explorer</h1>
    <%= yield %>
  </body>
</html>
